*{
overflow: hidden;	
margin: 0;
padding: 0;
font-family: 'Indie Flower', cursive;

}
body{
	
}
div.container{
	width:100vw;
	height:100vh;

	display:flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 0;
	
}
div
.content{
	position: absolute;
	z-index: -25;
	border:solid 1px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
width:200px;
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
	transition: 1s; /*Скорость перехода состояния элемента*/
	
	animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  






	
}
@keyframes show{
	 0% {opacity: 0;}

 100% {opacity:1;}
}
.but{
	font-size:13px;
		border-radius: 10px;
		width: 120px;
		font-weight:bold;
		
}
.but:hover{
	box-shadow: 0 0 10px black;
}
.but:active{
	width: 100px;
	word-spacing: -3px;
	
}
input{
	display: block;
	width: 80%;
	border:none;
	outline: none;
	border-bottom:solid 2px;
	position: relative;
	left:50%;
	transform: translateX(-50%);
	margin-bottom: 5px;
	margin-top: 2px;
	font-size: 20px;
	text-align: center;
}

.hidden {
	display: none;
}
div#obertka{
	position: absolute;
	z-index: 1;
	width:100vw;
	height:100vh;
	background: rgba(239, 240, 242,1);
	display:none;
	align-items: center;
	justify-content: center;
}
div#modal{
display: none;
background: white;
position: absolute;
width:300px;
height:400px;
opacity: 1;
z-index: 33;
top: 50%;  
left: 50%; 
border: solid 1px;
opacity:1; /*Элемент полностью прозрачный (невидимый)*/
transition: 0.1s; /*Скорость перехода состояния элемента*/
animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */




transform: translate(-50%, -50%);


}
.fo{
	margin:0 auto;
	position: relative;
	margin-top: 30px;
	width: 80%;
	
	
}
.texts{
	cursor: default;
	border-radius: 10px;
text-align: center;
box-shadow: 0px 0px 10px gray;

}
.texts:hover{
	box-shadow: 0 0 10px black;
}
.textsw:hover{
	box-shadow: 0 0 10px black;
}
.textsw:active{
	width: 150px;
	letter-spacing: -1px;
	
}
.textsr:hover{
	box-shadow: 0 0 10px black;
}
.textswr:hover{
	box-shadow: 0 0 10px black;
}
.textswr:active{
	width: 150px;
	letter-spacing: -1px;
	
}
