*{
	margin: 0;
	padding: 0;
}
div.one_okno{
	position: absolute;
	z-index: 1;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border:solid 2px;
	background: white;
	text-align: center;
}
.lable{
	font-size: 25px;
	margin-top: 20px;
	font-weight: bold;
}
input.text{
	font-size:20px;
	display: block;
	margin: 20px 5px 20px 5px;
	border: none;
	border-bottom: solid 2px;
	outline: none;
	
}

.but{
	margin-bottom: 15px;
	background:black;
	color:white;
	border-radius: 20px;
	outline: none;
}
.sub{
	margin-bottom: 15px;
	background:white;
	color:black;
	font-weight: bold;
	border-radius: 20px;
	outline: none;
}
div.obertka{
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.1);
	position: absolute;
	z-index: 2;
	display: none;
}
div.modal_okno{
	
	position: absolute;
	z-index: 3;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border:solid 2px;
	background: red;
	width: 300px;
	height: 400px;
	text-align: center;
	display: none;
}


